<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>sceneManager</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body class="container">
<br/>
<h1>场景搜索结果</h1>
<br/>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    场景搜索
                    <span class="caret"></span></button>
                <ul class="dropdown-menu ">
                    <li th:each="m : ${scList}" style="list-style-type:none; border-bottom: 1px solid #ddd"><a
                            href="#" th:text="${m.scene +' / '+ m.symbol}"
                            th:href="@{${'/toSceneSelect'}(symbol=${m.symbol})}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>scene</th>
            <th>symbol</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sceneVO : ${scenes}">
            <th scope="row" th:text="${sceneVO.scene}">1</th>
            <td th:text="${sceneVO.symbol}">3</td>
            <td><a th:href="@{/toEditSc(scene=${sceneVO.scene})}">修改</a></td>
            <td><a th:href="@{/deleteSc(scene=${sceneVO.scene})}"
                   onClick="return confirm('确定删除?');">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="div-inline pull-right">
    <div class="col-sm-2 control-label">
        <a th:href="@{/sceneList}" class="btn btn-info">返回主页</a>
    </div>
</div>
</body>
</html>